/** Material design cards ****************************************************/

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

.card {
  /*margin-top: 10px;*/
  box-sizing: border-box;
  /*border-radius: 2px;*/
  background-clip: padding-box;
  height: 100%;
}
.card .card-content {
  padding: 16px;
  /*border-radius: 4px;*/
  background-clip: padding-box;
  box-sizing: border-box;
  height: 100%;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}

.tile-headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-top: -7px;
  margin-left: 3px;
}

.tile-subheadline {
  text-transform: uppercase;
  font-size: 10px;
  color: gray;
  margin: -9px 0 10px 3px;
}



/** Appearance of form labels ************************************************/

.control-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    color: gray;
    font-size: 0.9em;
}

.pretty {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
    line-height: 1;
}

.pretty .state label {
    position: initial;
    display: inline-block;
    margin: 0;
    text-indent: 1.5em;
    min-width: calc(1em + 2px);
    font-family: "Roboto Condensed";
}

.btn {
  /* border-radius: 0; */
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-size: 11px;
  /* padding: 8px 37px; */
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: #242424;
  color: #f6f6f6;
  border: 1px solid transparent;
  padding: 6px;
  /* font-size: 14px; */
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Boostrap adjustments ******************************************************/

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 5px;
}


/** Mapbox tooltip adjustment ************************************************/

/*
.mapboxgl-popup-tip {
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom: none;
}
*/

.mapboxgl-popup-content {
  border-radius: 0 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5) !important;
  background-color: #191a1ac7 !important;
}



.mapboxgl-popup {
  transform:none !important;
  top: 41px !important;
  left: 0 !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip, 
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  display:none !important;
}
